.exercise-wrapper > div{
    padding: 20px;
    font-size: 2em;
    text-align: center;
}

.rotated{
    transform: rotate(90deg);
}

.exercise-nav{
    cursor: pointer;
    padding: 10px;
}

.exercise-nav:hover{
    color: grey;
}

.fa-check-circle.exercise-nav:hover{
    opacity: 0.6;
}

progress {
    text-align: center;
}

progress > span {
    position: relative;
    top: 0;
}