// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import '~bulma/sass/utilities/initial-variables';

// Variables
@import "variables";

// Bulma
@import "~bulma/bulma.sass";

// Styles
@import 'layout/main';
@import 'layout/navbar';
@import 'layout/notification';
@import 'welcome';
@import 'word/style';
@import 'exercises/exercises';
@import 'flags/flags';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.is-form-notification {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  border-radius: 4px;
}
