@import "./variables";

.welcome-page-hero {
  background: linear-gradient(120deg, #0fb8ad 0%, #1fc8db 50%, #2cb5e8 75%);
}

.welcome-page-hero h1 {
  font-size: 4rem;
  color: whitesmoke;
  text-align: center;
}