.open_modal_button:hover{
    cursor: pointer;
    color: dimgrey;
}

.is-lightblue {
    background-color: lightblue;
}
.modal-card-title {
    margin: 0 !important;
}

.modal-close {
    z-index: 1000;
}